<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd">
          
          <!-- cfg  dependent spring bean -->
          <bean id="ltime"  class="java.time.LocalTime"  factory-method="now"/>
          <bean id="ldate"  class="java.time.LocalDate"  factory-method="now"/>
          
          <!-- Cfg  target spring bean  -->
        <!--   <bean id="wmg"  class="com.arushi.sbeans.WishMessageGenerator">
              <property name="date"  ref="ldate"/>
           <property  name="time"  ref="ltime"/>  
           <property name="age"  value="30"/>
             
          </bean> -->
          
       <bean id="wmg"  class="com.arushi.sbeans.WishMessageGenerator" >
            <property name="age"  value="35"/>
            <constructor-arg name="date"  ref="ldate"/>
            <constructor-arg  name="time"  ref="ltime"/>  
            <constructor-arg name="age"  value="30"/>
        </bean> 
        
        <bean id="prn1"  class="com.nt.ston.Printer"   scope="prototype"  factory-method="getInstance"/>
        <bean id="prn2"  class="com.nt.ston.Printer"    scope="prototype"  factory-method="getInstance"/>
          
   </beans>